{%load static%}
<head>
    
    <link rel="stylesheet" href="{% static 'styles.css'%}" />
</head>

<div class="wrapper" style="max-height:1200px;">
    <div class="logo">
        <img src="{% static 'icon.png' %}">
    </div>
    <div class="text-center name" style="text-align:center;">
        JobOffers
    </div>
    <form style="text-align:center;" method="POST">
        {% csrf_token %}       
        {{form.as_p}}


        <button class="btn">Register</button>
    </form></br>
    <div class="text-center">
        <center>or <a href="{% url 'login' %}" >Login</a> if you are our client already </center>
    </div>

</div>

