{% extends 'base.html' %}

{% block content %}


<div style="background-color: #4B4A67; min-block-size:1000px;margin-top:0px;">

    <div style="width: 50%; height: 60%; background-color: #b3b3cc; margin: auto;">
        <form method="POST">
            {% csrf_token %}
            <div class="form-row" style="margin-left: 10%; margin-right: 10%;">
                <h1 style="color: darkred;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
                                                                    sans-serif;">Are you sure to delete this JobOffer?</h1>
                <button type="button" style="width: 100px;" class="btn btn-primary"><a style="color: white; text-decoration: none;" 
                                                                   href="{% url 'my-offers' %}">Back</a></button>
                <button class="btn btn-primary" style="width: 200px; margin-top: 2%; margin-bottom: 2%; margin-left: 20%;" type="submit">
                    Delete
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
