{% extends 'base.html' %}
{%load static%}
{%block content%}
<html>
<head>
    <style>
        html, body {
            height: 100%;
            margin: 0px;
            background-color: #BFCDE0;
            color: #BFCDE0;
        }
    </style>
</head>

<body >
    <div style=" margin:0px; padding:10px; ">
        {% for response in responses %}
        <div style="background-color: #5D5D81; min-width: 32%; min-height: 600px; padding: 20px; margin: 5px; float: left; margin-left:1%; border-radius: 15px;">
            Name: <h2>{{ response.firstName }}</h2>
            Lastname: <h2>{{ response.lastName }}</h2>
            Phone: <h2>{{ response.phoneNumber }}</h2>
            Email: <h2>{{ response.email }}</h2>
            Description: {{ response.description }}
            {%if response.experience %}
            Experience in profession(years): <h2>{{ response.experience }}</h2>
            {%endif%}
            {%if response.education %}
            Education level: <h2>{{ response.education }}</h2>
            {%endif%}
            {%if response.knownLanguages %}
            Known languages: <h2>{{ response.knownLanguages }}</h2>
            {%endif%}

            {%if response.file %}
            <a href="{{response.file.url}}" target="_blank" style="text-decoration:none;color:dodgerblue;font-size:25px;">Show CV of candidate</a>
            {%endif%}
        </div>
            {% endfor %}
        </div>
    {%if not responses%}
    <center><h1 style="color:#BFCDE0;">There are no responses for your offer.</h1></center>
    {%endif%}
</body>

</html>
    {%endblock%}
